.cell-1 {
  height: 10vh;
  width: 100vw;
  margin: auto;
  padding: 0;
  display: grid;
}

input[type="text"],
input[type="search"] {
  padding: 6px;
  font-size: 17px;
  border: 1px solid black;
}

button {
  padding: 5px;
  margin-top: 5px;
  margin-right: 10px;
  background: #ddd;
  font-size: 17px;
  border: 1px solid black;
  cursor: pointer;
}

.navlinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: royalblue;
  height: 5vh;
  padding: 10px;
  border: 1px solid #555;
}

.fab {
  font-size: 50px;
  margin: auto;
  color: white;
  padding: -5px;
}
.links {
  display: flex;
  background-color: #4167b2;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 30px;
  color: white;
  text-decoration: none;
}

.links-bar {
  list-style-type: none;
}

.links:hover {
  color: black;
}
