.navbar-container {
}

input[type="text"],
input[type="search"] {
  padding: 6px;
  font-size: 17px;
  border: 1px solid black;
}

button {
  padding: 5px;
  margin-top: 5px;
  margin-right: 10px;
  background: #ddd;
  font-size: 17px;
  border: 1px solid black;
  cursor: pointer;
}

.navlinks {
  display: flex;
  justify-content: space-around;
  background-color: royalblue;
  height: 5vh;
  padding: 5px;
  border: 1px solid #555;
}
ul.navlinks {
  list-style-type: none;
}

.navlinks a {
  text-decoration: none;
  background-color: royalblue;
}

.fab {
  font-size: 50px;
  margin: auto;
  color: white;
  padding: -5px;
  background-color: royalblue;
}
.links {
  display: flex;
  font-size: 30px;
  color: white;
  background-color: royalblue;
}

.links:hover {
  color: black;
}

.links-bar {
  background-color: royalblue;
}
