.news-container {
  height: 90vh;
  display: grid;
  margin: auto;
  padding: 0;

  grid-template-rows: auto 100px;
  grid-template-columns: 200px auto 400px;

  grid-template-areas:
    "ads content sidebar"
    "footer footer footer";
}
.feedlist-container {
  width: 40vw;
}

.card-container {
  height: auto;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 5px;
  border-radius: 5px;
}

.post-container {
  height: 17vh;
  width: 40vw;
  margin-bottom: 30px;
}

.image-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.postcard-container {
  height: 60vh;
  max-width: 35vw;
  margin-bottom: 20px;
  background-color: white;
  margin: 0 auto;
  padding: 0;
  border-radius: 10px;
  margin-bottom: 50px;
}
button.modal-button {
  background-color: white;
  color: royalblue;
  border-radius: 5px;
  font-size: 10px;
}

.signature {
  padding: 2px 16px;
  background-color: #e9ebee;
  color: black;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  border: 1px solid #888;
  width: 35vw;
  border-radius: 5px;
}

.card-details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
}

.adlink {
  margin-bottom: 5px;
  padding: 3px;
  width: 13vw;
  font-size: 20px;
  list-style-type: none;
}
.adlink:hover {
  background-color: white;
}
.far,
.fas {
  color: royalblue;
  font-size: 25px;
  padding: 3px;
  margin-right: 5px;
}
a {
  text-decoration: none;
  color: royalblue;
}
